pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
omegaconf
accelerate
einops
# opencv-python-headless
opencv_python
scipy
ftfy
regex
python-dateutil
timm
pytorch-lightning # only for loading pretrained sd weight
tensorboard # for visualize tensorboard event
protobuf==4.25.3 # for tensorboard
lpips
facexlib
gradio
